/* reset pagina */
* {
  margin: 0;
  padding: ;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}

header nav ul li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}